@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    box-sizing: border-box;
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#000000, #000000);
    background-size: 100% 1px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0))
}

.link-underline:hover {
    background-size: 0% 1px;
    background-position: 100% 100%
}
.link-underline:hover::before {
    background-size: 100% 1px;
    background-position: 0% 0%;
}